In [1]:
!pip install openai

Collecting openai
  Downloading openai-0.27.8-py3-none-any.whl (73 kB)
Requirement already satisfied: requests>=2.20 in c:\users\godzilla\anaconda3\lib\site-packages (from openai) (2.27.1)
Requirement already satisfied: aiohttp in c:\users\godzilla\anaconda3\lib\site-packages (from openai) (3.8.4)
Requirement already satisfied: tqdm in c:\users\godzilla\anaconda3\lib\site-packages (from openai) (4.64.0)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in c:\users\godzilla\anaconda3\lib\site-packages (from requests>=2.20->openai) (1.26.16)
Requirement already satisfied: idna<4,>=2.5 in c:\users\godzilla\anaconda3\lib\site-packages (from requests>=2.20->openai) (3.3)
Requirement already satisfied: charset-normalizer~=2.0.0 in c:\users\godzilla\anaconda3\lib\site-packages (from requests>=2.20->openai) (2.0.4)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\godzilla\anaconda3\lib\site-packages (from requests>=2.20->openai) (2021.10.8)
Requirement already satisfied: multidict<7.0,>=4.5 in c:\users\godzilla\anaconda3\lib\site-packages (from aiohttp->openai) (5.1.0)
Requirement already satisfied: attrs>=17.3.0 in c:\users\godzilla\anaconda3\lib\site-packages (from aiohttp->openai) (21.4.0)
Requirement already satisfied: async-timeout<5.0,>=4.0.0a3 in c:\users\godzilla\anaconda3\lib\site-packages (from aiohttp->openai) (4.0.1)
Requirement already satisfied: yarl<2.0,>=1.0 in c:\users\godzilla\anaconda3\lib\site-packages (from aiohttp->openai) (1.6.3)
Requirement already satisfied: frozenlist>=1.1.1 in c:\users\godzilla\anaconda3\lib\site-packages (from aiohttp->openai) (1.2.0)
Requirement already satisfied: aiosignal>=1.1.2 in c:\users\godzilla\anaconda3\lib\site-packages (from aiohttp->openai) (1.2.0)
Requirement already satisfied: typing-extensions>=3.6.5 in c:\users\godzilla\anaconda3\lib\site-packages (from async-timeout<5.0,>=4.0.0a3->aiohttp->openai) (4.6.1)
Requirement already satisfied: colorama in c:\users\godzilla\anaconda3\lib\site-packages (from tqdm->openai) (0.4.4)
Installing collected packages: openai
Successfully installed openai-0.27.8

WARNING: Ignoring invalid distribution -ffi (c:\users\godzilla\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -ffi (c:\users\godzilla\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -ffi (c:\users\godzilla\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -ffi (c:\users\godzilla\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -ffi (c:\users\godzilla\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -ffi (c:\users\godzilla\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -ffi (c:\users\godzilla\anaconda3\lib\site-packages)

In [4]:
b = ['<|schema|>table people, columns = [*,people_id,nationality,name,birth_date,height]\ntable poker_player, columns = [*,poker_player_id,people_id,final_table_made,best_finish,money_rank,earnings]\nforeign_keys = [poker_player.poker_player_id,people.people_id]\n\nprimary_keys = [poker_player.people_id = people.people_id]<|endoftext|><|query|>what is the average earnings of poker players?<|endoftext|><|sql|>select avg(earnings) from poker_player;<|endoftext|>',
 '<|schema|>table city, columns = [*,id,name,countrycode,district,population]\ntable country, columns = [*,code,name,continent,region,surfacearea,indepyear,population,lifeexpectancy,gnp,gnpold,localname,governmentform,headofstate,capital,code2]\ntable countrylanguage, columns = [*,countrycode,language,isofficial,percentage]\ntable sqlite_sequence, columns = [*,name,seq]\nforeign_keys = [city.id,country.code,countrylanguage.countrycode]\n\nprimary_keys = [city.countrycode = country.code,countrylanguage.countrycode = country.code]<|endoftext|><|query|>what is the total population of gelderland district?<|endoftext|><|sql|>select sum(population) from city where district  =  "gelderland";<|endoftext|>',
 '<|schema|>table city, columns = [*,id,name,countrycode,district,population]\ntable country, columns = [*,code,name,continent,region,surfacearea,indepyear,population,lifeexpectancy,gnp,gnpold,localname,governmentform,headofstate,capital,code2]\ntable countrylanguage, columns = [*,countrycode,language,isofficial,percentage]\ntable sqlite_sequence, columns = [*,name,seq]\nforeign_keys = [city.id,country.code,countrylanguage.countrycode]\n\nprimary_keys = [city.countrycode = country.code,countrylanguage.countrycode = country.code]<|endoftext|><|query|>how many type of governments are in africa?<|endoftext|><|sql|>select count(distinct governmentform) from country where continent  =  "africa";<|endoftext|>',
 '<|schema|>table airlines, columns = [*,uid,airline,abbreviation,country]\ntable airports, columns = [*,city,airportcode,airportname,country,countryabbrev]\ntable flights, columns = [*,airline,flightno,sourceairport,destairport]\nforeign_keys = [airlines.uid,airports.airportcode,flights.airline]\n\nprimary_keys = [flights.destairport = airports.airportcode,flights.sourceairport = airports.airportcode]<|endoftext|><|query|>how many flights have destination ato?<|endoftext|><|sql|>select count(*) from flights where destairport  =  "ato";<|endoftext|>',
 '<|schema|>table airlines, columns = [*,uid,airline,abbreviation,country]\ntable airports, columns = [*,city,airportcode,airportname,country,countryabbrev]\ntable flights, columns = [*,airline,flightno,sourceairport,destairport]\nforeign_keys = [airlines.uid,airports.airportcode,flights.airline]\n\nprimary_keys = [flights.destairport = airports.airportcode,flights.sourceairport = airports.airportcode]<|endoftext|><|query|>which abbreviation corresponds to jetblue airways?<|endoftext|><|sql|>select abbreviation from airlines where airline  =  "jetblue airways";<|endoftext|>',
 '<|schema|>table friend, columns = [*,student_id,friend_id]\ntable highschooler, columns = [*,id,name,grade]\ntable likes, columns = [*,student_id,liked_id]\nforeign_keys = [highschooler.id,friend.student_id,likes.student_id]\n\nprimary_keys = [friend.friend_id = highschooler.id,friend.student_id = highschooler.id,likes.student_id = highschooler.id,likes.liked_id = highschooler.id]<|endoftext|><|query|>what is the grade of each high schooler?<|endoftext|><|sql|>select grade from highschooler;<|endoftext|>',
 '<|schema|>table people, columns = [*,people_id,nationality,name,birth_date,height]\ntable poker_player, columns = [*,poker_player_id,people_id,final_table_made,best_finish,money_rank,earnings]\nforeign_keys = [poker_player.poker_player_id,people.people_id]\n\nprimary_keys = [poker_player.people_id = people.people_id]<|endoftext|><|query|>return the names of all the poker players.<|endoftext|><|sql|>select t1.name from people as t1 join poker_player as t2 on t1.people_id  =  t2.people_id;<|endoftext|>',
 '<|schema|>table addresses, columns = [*,address_id,line_1,line_2,line_3,city,zip_postcode,state_province_county,country,other_address_details]\ntable courses, columns = [*,course_id,course_name,course_description,other_details]\ntable degree_programs, columns = [*,degree_program_id,department_id,degree_summary_name,degree_summary_description,other_details]\ntable departments, columns = [*,department_id,department_name,department_description,other_details]\ntable sections, columns = [*,section_id,course_id,section_name,section_description,other_details]\ntable semesters, columns = [*,semester_id,semester_name,semester_description,other_details]\ntable student_enrolment, columns = [*,student_enrolment_id,degree_program_id,semester_id,student_id,other_details]\ntable student_enrolment_courses, columns = [*,student_course_id,course_id,student_enrolment_id]\ntable students, columns = [*,student_id,current_address_id,permanent_address_id,first_name,middle_name,last_name,cell_mobile_number,email_address,ssn,date_first_registered,date_left,other_student_details]\ntable transcript_contents, columns = [*,student_course_id,transcript_id]\ntable transcripts, columns = [*,transcript_id,transcript_date,other_details]\nforeign_keys = [addresses.address_id,courses.course_id,departments.department_id,degree_programs.degree_program_id,sections.section_id,semesters.semester_id,students.student_id,student_enrolment.student_enrolment_id,student_enrolment_courses.student_course_id,transcripts.transcript_id]\n\nprimary_keys = [degree_programs.department_id = departments.department_id,sections.course_id = courses.course_id,students.permanent_address_id = addresses.address_id,students.current_address_id = addresses.address_id,student_enrolment.student_id = students.student_id,student_enrolment.semester_id = semesters.semester_id,student_enrolment.degree_program_id = degree_programs.degree_program_id,student_enrolment_courses.student_enrolment_id = student_enrolment.student_enrolment_id,student_enrolment_courses.course_id = courses.course_id,transcript_contents.transcript_id = transcripts.transcript_id,transcript_contents.student_course_id = student_enrolment_courses.student_course_id]<|endoftext|><|query|>how many different addresses do the students currently live?<|endoftext|><|sql|>select count(distinct current_address_id) from students;<|endoftext|>',
 '<|schema|>table documents, columns = [*,document_id,template_id,document_name,document_description,other_details]\ntable paragraphs, columns = [*,paragraph_id,document_id,paragraph_text,other_details]\ntable ref_template_types, columns = [*,template_type_code,template_type_description]\ntable templates, columns = [*,template_id,version_number,template_type_code,date_effective_from,date_effective_to,template_details]\nforeign_keys = [ref_template_types.template_type_code,templates.template_id,documents.document_id,paragraphs.paragraph_id]\n\nprimary_keys = [templates.template_type_code = ref_template_types.template_type_code,documents.template_id = templates.template_id,paragraphs.document_id = documents.document_id]<|endoftext|><|query|>show all template type codes with less than three templates.<|endoftext|><|sql|>select template_type_code from templates group by template_type_code having count(*)  <  3;<|endoftext|>',
 '<|schema|>table city, columns = [*,id,name,countrycode,district,population]\ntable country, columns = [*,code,name,continent,region,surfacearea,indepyear,population,lifeexpectancy,gnp,gnpold,localname,governmentform,headofstate,capital,code2]\ntable countrylanguage, columns = [*,countrycode,language,isofficial,percentage]\ntable sqlite_sequence, columns = [*,name,seq]\nforeign_keys = [city.id,country.code,countrylanguage.countrycode]\n\nprimary_keys = [city.countrycode = country.code,countrylanguage.countrycode = country.code]<|endoftext|><|query|>what is the continent name which anguilla belongs to?<|endoftext|><|sql|>select continent from country where name  =  "anguilla";<|endoftext|>',
 '<|schema|>table people, columns = [*,people_id,nationality,name,birth_date,height]\ntable poker_player, columns = [*,poker_player_id,people_id,final_table_made,best_finish,money_rank,earnings]\nforeign_keys = [poker_player.poker_player_id,people.people_id]\n\nprimary_keys = [poker_player.people_id = people.people_id]<|endoftext|><|query|>return the nationalities for which there are two or more people.<|endoftext|><|sql|>select nationality from people group by nationality having count(*)  >=  2;<|endoftext|>',
 '<|schema|>table people, columns = [*,people_id,nationality,name,birth_date,height]\ntable poker_player, columns = [*,poker_player_id,people_id,final_table_made,best_finish,money_rank,earnings]\nforeign_keys = [poker_player.poker_player_id,people.people_id]\n\nprimary_keys = [poker_player.people_id = people.people_id]<|endoftext|><|query|>what are the names of people who are not from russia?<|endoftext|><|sql|>select name from people where nationality != "russia";<|endoftext|>',
 "<|schema|>table addresses, columns = [*,address_id,line_1,line_2,line_3,city,zip_postcode,state_province_county,country,other_address_details]\ntable courses, columns = [*,course_id,course_name,course_description,other_details]\ntable degree_programs, columns = [*,degree_program_id,department_id,degree_summary_name,degree_summary_description,other_details]\ntable departments, columns = [*,department_id,department_name,department_description,other_details]\ntable sections, columns = [*,section_id,course_id,section_name,section_description,other_details]\ntable semesters, columns = [*,semester_id,semester_name,semester_description,other_details]\ntable student_enrolment, columns = [*,student_enrolment_id,degree_program_id,semester_id,student_id,other_details]\ntable student_enrolment_courses, columns = [*,student_course_id,course_id,student_enrolment_id]\ntable students, columns = [*,student_id,current_address_id,permanent_address_id,first_name,middle_name,last_name,cell_mobile_number,email_address,ssn,date_first_registered,date_left,other_student_details]\ntable transcript_contents, columns = [*,student_course_id,transcript_id]\ntable transcripts, columns = [*,transcript_id,transcript_date,other_details]\nforeign_keys = [addresses.address_id,courses.course_id,departments.department_id,degree_programs.degree_program_id,sections.section_id,semesters.semester_id,students.student_id,student_enrolment.student_enrolment_id,student_enrolment_courses.student_course_id,transcripts.transcript_id]\n\nprimary_keys = [degree_programs.department_id = departments.department_id,sections.course_id = courses.course_id,students.permanent_address_id = addresses.address_id,students.current_address_id = addresses.address_id,student_enrolment.student_id = students.student_id,student_enrolment.semester_id = semesters.semester_id,student_enrolment.degree_program_id = degree_programs.degree_program_id,student_enrolment_courses.student_enrolment_id = student_enrolment.student_enrolment_id,student_enrolment_courses.course_id = courses.course_id,transcript_contents.transcript_id = transcripts.transcript_id,transcript_contents.student_course_id = student_enrolment_courses.student_course_id]<|endoftext|><|query|>how is the math course described?<|endoftext|><|sql|>select course_description from courses where course_name  =  'math';<|endoftext|>",
 '<|schema|>table addresses, columns = [*,address_id,line_1,line_2,line_3,city,zip_postcode,state_province_county,country,other_address_details]\ntable courses, columns = [*,course_id,course_name,course_description,other_details]\ntable degree_programs, columns = [*,degree_program_id,department_id,degree_summary_name,degree_summary_description,other_details]\ntable departments, columns = [*,department_id,department_name,department_description,other_details]\ntable sections, columns = [*,section_id,course_id,section_name,section_description,other_details]\ntable semesters, columns = [*,semester_id,semester_name,semester_description,other_details]\ntable student_enrolment, columns = [*,student_enrolment_id,degree_program_id,semester_id,student_id,other_details]\ntable student_enrolment_courses, columns = [*,student_course_id,course_id,student_enrolment_id]\ntable students, columns = [*,student_id,current_address_id,permanent_address_id,first_name,middle_name,last_name,cell_mobile_number,email_address,ssn,date_first_registered,date_left,other_student_details]\ntable transcript_contents, columns = [*,student_course_id,transcript_id]\ntable transcripts, columns = [*,transcript_id,transcript_date,other_details]\nforeign_keys = [addresses.address_id,courses.course_id,departments.department_id,degree_programs.degree_program_id,sections.section_id,semesters.semester_id,students.student_id,student_enrolment.student_enrolment_id,student_enrolment_courses.student_course_id,transcripts.transcript_id]\n\nprimary_keys = [degree_programs.department_id = departments.department_id,sections.course_id = courses.course_id,students.permanent_address_id = addresses.address_id,students.current_address_id = addresses.address_id,student_enrolment.student_id = students.student_id,student_enrolment.semester_id = semesters.semester_id,student_enrolment.degree_program_id = degree_programs.degree_program_id,student_enrolment_courses.student_enrolment_id = student_enrolment.student_enrolment_id,student_enrolment_courses.course_id = courses.course_id,transcript_contents.transcript_id = transcripts.transcript_id,transcript_contents.student_course_id = student_enrolment_courses.student_course_id]<|endoftext|><|query|>list the section_name in reversed lexicographical order.<|endoftext|><|sql|>select section_name from sections order by section_name desc;<|endoftext|>',
 '<|schema|>table matches, columns = [*,best_of,draw_size,loser_age,loser_entry,loser_hand,loser_ht,loser_id,loser_ioc,loser_name,loser_rank,loser_rank_points,loser_seed,match_num,minutes,round,score,surface,tourney_date,tourney_id,tourney_level,tourney_name,winner_age,winner_entry,winner_hand,winner_ht,winner_id,winner_ioc,winner_name,winner_rank,winner_rank_points,winner_seed,year]\ntable players, columns = [*,player_id,first_name,last_name,hand,birth_date,country_code]\ntable rankings, columns = [*,ranking_date,ranking,player_id,ranking_points,tours]\nforeign_keys = [players.player_id]\n\nprimary_keys = [matches.winner_id = players.player_id,matches.loser_id = players.player_id,rankings.player_id = players.player_id]<|endoftext|><|query|>find the total number of players.<|endoftext|><|sql|>select count(*) from players;<|endoftext|>',
 '<|schema|>table matches, columns = [*,best_of,draw_size,loser_age,loser_entry,loser_hand,loser_ht,loser_id,loser_ioc,loser_name,loser_rank,loser_rank_points,loser_seed,match_num,minutes,round,score,surface,tourney_date,tourney_id,tourney_level,tourney_name,winner_age,winner_entry,winner_hand,winner_ht,winner_id,winner_ioc,winner_name,winner_rank,winner_rank_points,winner_seed,year]\ntable players, columns = [*,player_id,first_name,last_name,hand,birth_date,country_code]\ntable rankings, columns = [*,ranking_date,ranking,player_id,ranking_points,tours]\nforeign_keys = [players.player_id]\n\nprimary_keys = [matches.winner_id = players.player_id,matches.loser_id = players.player_id,rankings.player_id = players.player_id]<|endoftext|><|query|>what is the best rank of losers across all matches?<|endoftext|><|sql|>select min(loser_rank) from matches;<|endoftext|>',
 '<|schema|>table car_makers, columns = [*,id,maker,fullname,country]\ntable car_names, columns = [*,makeid,model,make]\ntable cars_data, columns = [*,id,mpg,cylinders,edispl,horsepower,weight,accelerate,year]\ntable continents, columns = [*,contid,continent]\ntable countries, columns = [*,countryid,countryname,continent]\ntable model_list, columns = [*,modelid,maker,model]\nforeign_keys = [continents.contid,countries.countryid,car_makers.id,model_list.modelid,car_names.makeid,cars_data.id]\n\nprimary_keys = [countries.continent = continents.contid,car_makers.country = countries.countryid,model_list.maker = car_makers.id,car_names.model = model_list.model,cars_data.id = car_names.makeid]<|endoftext|><|query|>what is the number of cars with more than 4 cylinders?<|endoftext|><|sql|>select count(*) from cars_data where cylinders  >  4;<|endoftext|>',
 '<|schema|>table city, columns = [*,id,name,countrycode,district,population]\ntable country, columns = [*,code,name,continent,region,surfacearea,indepyear,population,lifeexpectancy,gnp,gnpold,localname,governmentform,headofstate,capital,code2]\ntable countrylanguage, columns = [*,countrycode,language,isofficial,percentage]\ntable sqlite_sequence, columns = [*,name,seq]\nforeign_keys = [city.id,country.code,countrylanguage.countrycode]\n\nprimary_keys = [city.countrycode = country.code,countrylanguage.countrycode = country.code]<|endoftext|><|query|>how many countries have governments that are republics?<|endoftext|><|sql|>select count(*) from country where governmentform  =  "republic";<|endoftext|>',
 '<|schema|>table documents, columns = [*,document_id,template_id,document_name,document_description,other_details]\ntable paragraphs, columns = [*,paragraph_id,document_id,paragraph_text,other_details]\ntable ref_template_types, columns = [*,template_type_code,template_type_description]\ntable templates, columns = [*,template_id,version_number,template_type_code,date_effective_from,date_effective_to,template_details]\nforeign_keys = [ref_template_types.template_type_code,templates.template_id,documents.document_id,paragraphs.paragraph_id]\n\nprimary_keys = [templates.template_type_code = ref_template_types.template_type_code,documents.template_id = templates.template_id,paragraphs.document_id = documents.document_id]<|endoftext|><|query|>how many paragraphs in total?<|endoftext|><|sql|>select count(*) from paragraphs;<|endoftext|>',
 '<|schema|>table matches, columns = [*,best_of,draw_size,loser_age,loser_entry,loser_hand,loser_ht,loser_id,loser_ioc,loser_name,loser_rank,loser_rank_points,loser_seed,match_num,minutes,round,score,surface,tourney_date,tourney_id,tourney_level,tourney_name,winner_age,winner_entry,winner_hand,winner_ht,winner_id,winner_ioc,winner_name,winner_rank,winner_rank_points,winner_seed,year]\ntable players, columns = [*,player_id,first_name,last_name,hand,birth_date,country_code]\ntable rankings, columns = [*,ranking_date,ranking,player_id,ranking_points,tours]\nforeign_keys = [players.player_id]\n\nprimary_keys = [matches.winner_id = players.player_id,matches.loser_id = players.player_id,rankings.player_id = players.player_id]<|endoftext|><|query|>what are the codes of countries with more than 50 players?<|endoftext|><|sql|>select country_code from players group by country_code having count(*)  >  50;<|endoftext|>',
 '<|schema|>table course, columns = [*,course_id,staring_date,course]\ntable course_arrange, columns = [*,course_id,teacher_id,grade]\ntable teacher, columns = [*,teacher_id,name,age,hometown]\nforeign_keys = [course.course_id,teacher.teacher_id,course_arrange.course_id]\n\nprimary_keys = [course_arrange.teacher_id = teacher.teacher_id,course_arrange.course_id = course.course_id]<|endoftext|><|query|>what are the towns from which at least two teachers come from?<|endoftext|><|sql|>select hometown from teacher group by hometown having count(*)  >=  2;<|endoftext|>',
 '<|schema|>table course, columns = [*,course_id,staring_date,course]\ntable course_arrange, columns = [*,course_id,teacher_id,grade]\ntable teacher, columns = [*,teacher_id,name,age,hometown]\nforeign_keys = [course.course_id,teacher.teacher_id,course_arrange.course_id]\n\nprimary_keys = [course_arrange.teacher_id = teacher.teacher_id,course_arrange.course_id = course.course_id]<|endoftext|><|query|>what are the names of the teachers ordered by ascending age?<|endoftext|><|sql|>select name from teacher order by age asc;<|endoftext|>',
 '<|schema|>table cartoon, columns = [*,id,title,directed_by,written_by,original_air_date,production_code,channel]\ntable tv_channel, columns = [*,id,series_name,country,language,content,pixel_aspect_ratio_par,hight_definition_tv,pay_per_view_ppv,package_option]\ntable tv_series, columns = [*,id,episode,air_date,rating,share,18_49_rating_share,viewers_m,weekly_rank,channel]\nforeign_keys = [tv_channel.id,tv_series.id,cartoon.id]\n\nprimary_keys = [tv_series.channel = tv_channel.id,cartoon.channel = tv_channel.id]<|endoftext|><|query|>what are all of the episodes ordered by ratings?<|endoftext|><|sql|>select episode from tv_series order by rating;<|endoftext|>',
 '<|schema|>table airlines, columns = [*,uid,airline,abbreviation,country]\ntable airports, columns = [*,city,airportcode,airportname,country,countryabbrev]\ntable flights, columns = [*,airline,flightno,sourceairport,destairport]\nforeign_keys = [airlines.uid,airports.airportcode,flights.airline]\n\nprimary_keys = [flights.destairport = airports.airportcode,flights.sourceairport = airports.airportcode]<|endoftext|><|query|>give the flight numbers of flights leaving from apg.<|endoftext|><|sql|>select flightno from flights where sourceairport  =  "apg";<|endoftext|>',
 '<|schema|>table employee, columns = [*,employee_id,name,age,city]\ntable evaluation, columns = [*,employee_id,year_awarded,bonus]\ntable hiring, columns = [*,shop_id,employee_id,start_from,is_full_time]\ntable shop, columns = [*,shop_id,name,location,district,number_products,manager_name]\nforeign_keys = [employee.employee_id,shop.shop_id,hiring.employee_id,evaluation.employee_id]\n\nprimary_keys = [hiring.employee_id = employee.employee_id,hiring.shop_id = shop.shop_id,evaluation.employee_id = employee.employee_id]<|endoftext|><|query|>how many different store locations are there?<|endoftext|><|sql|>select count(distinct location) from shop;<|endoftext|>']

In [9]:
import openai

openai.api_key = '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'

In [3]:
messages = [ {"role": "system", "content": "Convert text into SQL statements by providing a database schema and a query, and generate the corresponding SQL statement."} ]

In [5]:
for a in b:
    messages.append([{"role": "user", "content": a}])

In [10]:
chat = openai.ChatCompletion.create(
            model="gpt-3.5-turbo", messages=messages
        )

RateLimitError: You exceeded your current quota, please check your plan and billing details.

In [6]:
messages

[{'role': 'system',
  'content': 'Convert text into SQL statements by providing a database schema and a query, and generate the corresponding SQL statement.'},
 [{'role': 'user',
   'content': '<|schema|>table people, columns = [*,people_id,nationality,name,birth_date,height]\ntable poker_player, columns = [*,poker_player_id,people_id,final_table_made,best_finish,money_rank,earnings]\nforeign_keys = [poker_player.poker_player_id,people.people_id]\n\nprimary_keys = [poker_player.people_id = people.people_id]<|endoftext|><|query|>what is the average earnings of poker players?<|endoftext|><|sql|>select avg(earnings) from poker_player;<|endoftext|>'}],
 [{'role': 'user',
   'content': '<|schema|>table city, columns = [*,id,name,countrycode,district,population]\ntable country, columns = [*,code,name,continent,region,surfacearea,indepyear,population,lifeexpectancy,gnp,gnpold,localname,governmentform,headofstate,capital,code2]\ntable countrylanguage, columns = [*,countrycode,language,isofficial,percentage]\ntable sqlite_sequence, columns = [*,name,seq]\nforeign_keys = [city.id,country.code,countrylanguage.countrycode]\n\nprimary_keys = [city.countrycode = country.code,countrylanguage.countrycode = country.code]<|endoftext|><|query|>what is the total population of gelderland district?<|endoftext|><|sql|>select sum(population) from city where district  =  "gelderland";<|endoftext|>'}],
 [{'role': 'user',
   'content': '<|schema|>table city, columns = [*,id,name,countrycode,district,population]\ntable country, columns = [*,code,name,continent,region,surfacearea,indepyear,population,lifeexpectancy,gnp,gnpold,localname,governmentform,headofstate,capital,code2]\ntable countrylanguage, columns = [*,countrycode,language,isofficial,percentage]\ntable sqlite_sequence, columns = [*,name,seq]\nforeign_keys = [city.id,country.code,countrylanguage.countrycode]\n\nprimary_keys = [city.countrycode = country.code,countrylanguage.countrycode = country.code]<|endoftext|><|query|>how many type of governments are in africa?<|endoftext|><|sql|>select count(distinct governmentform) from country where continent  =  "africa";<|endoftext|>'}],
 [{'role': 'user',
   'content': '<|schema|>table airlines, columns = [*,uid,airline,abbreviation,country]\ntable airports, columns = [*,city,airportcode,airportname,country,countryabbrev]\ntable flights, columns = [*,airline,flightno,sourceairport,destairport]\nforeign_keys = [airlines.uid,airports.airportcode,flights.airline]\n\nprimary_keys = [flights.destairport = airports.airportcode,flights.sourceairport = airports.airportcode]<|endoftext|><|query|>how many flights have destination ato?<|endoftext|><|sql|>select count(*) from flights where destairport  =  "ato";<|endoftext|>'}],
 [{'role': 'user',
   'content': '<|schema|>table airlines, columns = [*,uid,airline,abbreviation,country]\ntable airports, columns = [*,city,airportcode,airportname,country,countryabbrev]\ntable flights, columns = [*,airline,flightno,sourceairport,destairport]\nforeign_keys = [airlines.uid,airports.airportcode,flights.airline]\n\nprimary_keys = [flights.destairport = airports.airportcode,flights.sourceairport = airports.airportcode]<|endoftext|><|query|>which abbreviation corresponds to jetblue airways?<|endoftext|><|sql|>select abbreviation from airlines where airline  =  "jetblue airways";<|endoftext|>'}],
 [{'role': 'user',
   'content': '<|schema|>table friend, columns = [*,student_id,friend_id]\ntable highschooler, columns = [*,id,name,grade]\ntable likes, columns = [*,student_id,liked_id]\nforeign_keys = [highschooler.id,friend.student_id,likes.student_id]\n\nprimary_keys = [friend.friend_id = highschooler.id,friend.student_id = highschooler.id,likes.student_id = highschooler.id,likes.liked_id = highschooler.id]<|endoftext|><|query|>what is the grade of each high schooler?<|endoftext|><|sql|>select grade from highschooler;<|endoftext|>'}],
 [{'role': 'user',
   'content': '<|schema|>table people, columns = [*,people_id,nationality,name,birth_date,height]\ntable poker_player, columns = [*,poker_player_id,people_id,final_table_made,best_finish,money_rank,earnings]\nforeign_keys = [poker_player.poker_player_id,people.people_id]\n\nprimary_keys = [poker_player.people_id = people.people_id]<|endoftext|><|query|>return the names of all the poker players.<|endoftext|><|sql|>select t1.name from people as t1 join poker_player as t2 on t1.people_id  =  t2.people_id;<|endoftext|>'}],
 [{'role': 'user',
   'content': '<|schema|>table addresses, columns = [*,address_id,line_1,line_2,line_3,city,zip_postcode,state_province_county,country,other_address_details]\ntable courses, columns = [*,course_id,course_name,course_description,other_details]\ntable degree_programs, columns = [*,degree_program_id,department_id,degree_summary_name,degree_summary_description,other_details]\ntable departments, columns = [*,department_id,department_name,department_description,other_details]\ntable sections, columns = [*,section_id,course_id,section_name,section_description,other_details]\ntable semesters, columns = [*,semester_id,semester_name,semester_description,other_details]\ntable student_enrolment, columns = [*,student_enrolment_id,degree_program_id,semester_id,student_id,other_details]\ntable student_enrolment_courses, columns = [*,student_course_id,course_id,student_enrolment_id]\ntable students, columns = [*,student_id,current_address_id,permanent_address_id,first_name,middle_name,last_name,cell_mobile_number,email_address,ssn,date_first_registered,date_left,other_student_details]\ntable transcript_contents, columns = [*,student_course_id,transcript_id]\ntable transcripts, columns = [*,transcript_id,transcript_date,other_details]\nforeign_keys = [addresses.address_id,courses.course_id,departments.department_id,degree_programs.degree_program_id,sections.section_id,semesters.semester_id,students.student_id,student_enrolment.student_enrolment_id,student_enrolment_courses.student_course_id,transcripts.transcript_id]\n\nprimary_keys = [degree_programs.department_id = departments.department_id,sections.course_id = courses.course_id,students.permanent_address_id = addresses.address_id,students.current_address_id = addresses.address_id,student_enrolment.student_id = students.student_id,student_enrolment.semester_id = semesters.semester_id,student_enrolment.degree_program_id = degree_programs.degree_program_id,student_enrolment_courses.student_enrolment_id = student_enrolment.student_enrolment_id,student_enrolment_courses.course_id = courses.course_id,transcript_contents.transcript_id = transcripts.transcript_id,transcript_contents.student_course_id = student_enrolment_courses.student_course_id]<|endoftext|><|query|>how many different addresses do the students currently live?<|endoftext|><|sql|>select count(distinct current_address_id) from students;<|endoftext|>'}],
 [{'role': 'user',
   'content': '<|schema|>table documents, columns = [*,document_id,template_id,document_name,document_description,other_details]\ntable paragraphs, columns = [*,paragraph_id,document_id,paragraph_text,other_details]\ntable ref_template_types, columns = [*,template_type_code,template_type_description]\ntable templates, columns = [*,template_id,version_number,template_type_code,date_effective_from,date_effective_to,template_details]\nforeign_keys = [ref_template_types.template_type_code,templates.template_id,documents.document_id,paragraphs.paragraph_id]\n\nprimary_keys = [templates.template_type_code = ref_template_types.template_type_code,documents.template_id = templates.template_id,paragraphs.document_id = documents.document_id]<|endoftext|><|query|>show all template type codes with less than three templates.<|endoftext|><|sql|>select template_type_code from templates group by template_type_code having count(*)  <  3;<|endoftext|>'}],
 [{'role': 'user',
   'content': '<|schema|>table city, columns = [*,id,name,countrycode,district,population]\ntable country, columns = [*,code,name,continent,region,surfacearea,indepyear,population,lifeexpectancy,gnp,gnpold,localname,governmentform,headofstate,capital,code2]\ntable countrylanguage, columns = [*,countrycode,language,isofficial,percentage]\ntable sqlite_sequence, columns = [*,name,seq]\nforeign_keys = [city.id,country.code,countrylanguage.countrycode]\n\nprimary_keys = [city.countrycode = country.code,countrylanguage.countrycode = country.code]<|endoftext|><|query|>what is the continent name which anguilla belongs to?<|endoftext|><|sql|>select continent from country where name  =  "anguilla";<|endoftext|>'}],
 [{'role': 'user',
   'content': '<|schema|>table people, columns = [*,people_id,nationality,name,birth_date,height]\ntable poker_player, columns = [*,poker_player_id,people_id,final_table_made,best_finish,money_rank,earnings]\nforeign_keys = [poker_player.poker_player_id,people.people_id]\n\nprimary_keys = [poker_player.people_id = people.people_id]<|endoftext|><|query|>return the nationalities for which there are two or more people.<|endoftext|><|sql|>select nationality from people group by nationality having count(*)  >=  2;<|endoftext|>'}],
 [{'role': 'user',
   'content': '<|schema|>table people, columns = [*,people_id,nationality,name,birth_date,height]\ntable poker_player, columns = [*,poker_player_id,people_id,final_table_made,best_finish,money_rank,earnings]\nforeign_keys = [poker_player.poker_player_id,people.people_id]\n\nprimary_keys = [poker_player.people_id = people.people_id]<|endoftext|><|query|>what are the names of people who are not from russia?<|endoftext|><|sql|>select name from people where nationality != "russia";<|endoftext|>'}],
 [{'role': 'user',
   'content': "<|schema|>table addresses, columns = [*,address_id,line_1,line_2,line_3,city,zip_postcode,state_province_county,country,other_address_details]\ntable courses, columns = [*,course_id,course_name,course_description,other_details]\ntable degree_programs, columns = [*,degree_program_id,department_id,degree_summary_name,degree_summary_description,other_details]\ntable departments, columns = [*,department_id,department_name,department_description,other_details]\ntable sections, columns = [*,section_id,course_id,section_name,section_description,other_details]\ntable semesters, columns = [*,semester_id,semester_name,semester_description,other_details]\ntable student_enrolment, columns = [*,student_enrolment_id,degree_program_id,semester_id,student_id,other_details]\ntable student_enrolment_courses, columns = [*,student_course_id,course_id,student_enrolment_id]\ntable students, columns = [*,student_id,current_address_id,permanent_address_id,first_name,middle_name,last_name,cell_mobile_number,email_address,ssn,date_first_registered,date_left,other_student_details]\ntable transcript_contents, columns = [*,student_course_id,transcript_id]\ntable transcripts, columns = [*,transcript_id,transcript_date,other_details]\nforeign_keys = [addresses.address_id,courses.course_id,departments.department_id,degree_programs.degree_program_id,sections.section_id,semesters.semester_id,students.student_id,student_enrolment.student_enrolment_id,student_enrolment_courses.student_course_id,transcripts.transcript_id]\n\nprimary_keys = [degree_programs.department_id = departments.department_id,sections.course_id = courses.course_id,students.permanent_address_id = addresses.address_id,students.current_address_id = addresses.address_id,student_enrolment.student_id = students.student_id,student_enrolment.semester_id = semesters.semester_id,student_enrolment.degree_program_id = degree_programs.degree_program_id,student_enrolment_courses.student_enrolment_id = student_enrolment.student_enrolment_id,student_enrolment_courses.course_id = courses.course_id,transcript_contents.transcript_id = transcripts.transcript_id,transcript_contents.student_course_id = student_enrolment_courses.student_course_id]<|endoftext|><|query|>how is the math course described?<|endoftext|><|sql|>select course_description from courses where course_name  =  'math';<|endoftext|>"}],
 [{'role': 'user',
   'content': '<|schema|>table addresses, columns = [*,address_id,line_1,line_2,line_3,city,zip_postcode,state_province_county,country,other_address_details]\ntable courses, columns = [*,course_id,course_name,course_description,other_details]\ntable degree_programs, columns = [*,degree_program_id,department_id,degree_summary_name,degree_summary_description,other_details]\ntable departments, columns = [*,department_id,department_name,department_description,other_details]\ntable sections, columns = [*,section_id,course_id,section_name,section_description,other_details]\ntable semesters, columns = [*,semester_id,semester_name,semester_description,other_details]\ntable student_enrolment, columns = [*,student_enrolment_id,degree_program_id,semester_id,student_id,other_details]\ntable student_enrolment_courses, columns = [*,student_course_id,course_id,student_enrolment_id]\ntable students, columns = [*,student_id,current_address_id,permanent_address_id,first_name,middle_name,last_name,cell_mobile_number,email_address,ssn,date_first_registered,date_left,other_student_details]\ntable transcript_contents, columns = [*,student_course_id,transcript_id]\ntable transcripts, columns = [*,transcript_id,transcript_date,other_details]\nforeign_keys = [addresses.address_id,courses.course_id,departments.department_id,degree_programs.degree_program_id,sections.section_id,semesters.semester_id,students.student_id,student_enrolment.student_enrolment_id,student_enrolment_courses.student_course_id,transcripts.transcript_id]\n\nprimary_keys = [degree_programs.department_id = departments.department_id,sections.course_id = courses.course_id,students.permanent_address_id = addresses.address_id,students.current_address_id = addresses.address_id,student_enrolment.student_id = students.student_id,student_enrolment.semester_id = semesters.semester_id,student_enrolment.degree_program_id = degree_programs.degree_program_id,student_enrolment_courses.student_enrolment_id = student_enrolment.student_enrolment_id,student_enrolment_courses.course_id = courses.course_id,transcript_contents.transcript_id = transcripts.transcript_id,transcript_contents.student_course_id = student_enrolment_courses.student_course_id]<|endoftext|><|query|>list the section_name in reversed lexicographical order.<|endoftext|><|sql|>select section_name from sections order by section_name desc;<|endoftext|>'}],
 [{'role': 'user',
   'content': '<|schema|>table matches, columns = [*,best_of,draw_size,loser_age,loser_entry,loser_hand,loser_ht,loser_id,loser_ioc,loser_name,loser_rank,loser_rank_points,loser_seed,match_num,minutes,round,score,surface,tourney_date,tourney_id,tourney_level,tourney_name,winner_age,winner_entry,winner_hand,winner_ht,winner_id,winner_ioc,winner_name,winner_rank,winner_rank_points,winner_seed,year]\ntable players, columns = [*,player_id,first_name,last_name,hand,birth_date,country_code]\ntable rankings, columns = [*,ranking_date,ranking,player_id,ranking_points,tours]\nforeign_keys = [players.player_id]\n\nprimary_keys = [matches.winner_id = players.player_id,matches.loser_id = players.player_id,rankings.player_id = players.player_id]<|endoftext|><|query|>find the total number of players.<|endoftext|><|sql|>select count(*) from players;<|endoftext|>'}],
 [{'role': 'user',
   'content': '<|schema|>table matches, columns = [*,best_of,draw_size,loser_age,loser_entry,loser_hand,loser_ht,loser_id,loser_ioc,loser_name,loser_rank,loser_rank_points,loser_seed,match_num,minutes,round,score,surface,tourney_date,tourney_id,tourney_level,tourney_name,winner_age,winner_entry,winner_hand,winner_ht,winner_id,winner_ioc,winner_name,winner_rank,winner_rank_points,winner_seed,year]\ntable players, columns = [*,player_id,first_name,last_name,hand,birth_date,country_code]\ntable rankings, columns = [*,ranking_date,ranking,player_id,ranking_points,tours]\nforeign_keys = [players.player_id]\n\nprimary_keys = [matches.winner_id = players.player_id,matches.loser_id = players.player_id,rankings.player_id = players.player_id]<|endoftext|><|query|>what is the best rank of losers across all matches?<|endoftext|><|sql|>select min(loser_rank) from matches;<|endoftext|>'}],
 [{'role': 'user',
   'content': '<|schema|>table car_makers, columns = [*,id,maker,fullname,country]\ntable car_names, columns = [*,makeid,model,make]\ntable cars_data, columns = [*,id,mpg,cylinders,edispl,horsepower,weight,accelerate,year]\ntable continents, columns = [*,contid,continent]\ntable countries, columns = [*,countryid,countryname,continent]\ntable model_list, columns = [*,modelid,maker,model]\nforeign_keys = [continents.contid,countries.countryid,car_makers.id,model_list.modelid,car_names.makeid,cars_data.id]\n\nprimary_keys = [countries.continent = continents.contid,car_makers.country = countries.countryid,model_list.maker = car_makers.id,car_names.model = model_list.model,cars_data.id = car_names.makeid]<|endoftext|><|query|>what is the number of cars with more than 4 cylinders?<|endoftext|><|sql|>select count(*) from cars_data where cylinders  >  4;<|endoftext|>'}],
 [{'role': 'user',
   'content': '<|schema|>table city, columns = [*,id,name,countrycode,district,population]\ntable country, columns = [*,code,name,continent,region,surfacearea,indepyear,population,lifeexpectancy,gnp,gnpold,localname,governmentform,headofstate,capital,code2]\ntable countrylanguage, columns = [*,countrycode,language,isofficial,percentage]\ntable sqlite_sequence, columns = [*,name,seq]\nforeign_keys = [city.id,country.code,countrylanguage.countrycode]\n\nprimary_keys = [city.countrycode = country.code,countrylanguage.countrycode = country.code]<|endoftext|><|query|>how many countries have governments that are republics?<|endoftext|><|sql|>select count(*) from country where governmentform  =  "republic";<|endoftext|>'}],
 [{'role': 'user',
   'content': '<|schema|>table documents, columns = [*,document_id,template_id,document_name,document_description,other_details]\ntable paragraphs, columns = [*,paragraph_id,document_id,paragraph_text,other_details]\ntable ref_template_types, columns = [*,template_type_code,template_type_description]\ntable templates, columns = [*,template_id,version_number,template_type_code,date_effective_from,date_effective_to,template_details]\nforeign_keys = [ref_template_types.template_type_code,templates.template_id,documents.document_id,paragraphs.paragraph_id]\n\nprimary_keys = [templates.template_type_code = ref_template_types.template_type_code,documents.template_id = templates.template_id,paragraphs.document_id = documents.document_id]<|endoftext|><|query|>how many paragraphs in total?<|endoftext|><|sql|>select count(*) from paragraphs;<|endoftext|>'}],
 [{'role': 'user',
   'content': '<|schema|>table matches, columns = [*,best_of,draw_size,loser_age,loser_entry,loser_hand,loser_ht,loser_id,loser_ioc,loser_name,loser_rank,loser_rank_points,loser_seed,match_num,minutes,round,score,surface,tourney_date,tourney_id,tourney_level,tourney_name,winner_age,winner_entry,winner_hand,winner_ht,winner_id,winner_ioc,winner_name,winner_rank,winner_rank_points,winner_seed,year]\ntable players, columns = [*,player_id,first_name,last_name,hand,birth_date,country_code]\ntable rankings, columns = [*,ranking_date,ranking,player_id,ranking_points,tours]\nforeign_keys = [players.player_id]\n\nprimary_keys = [matches.winner_id = players.player_id,matches.loser_id = players.player_id,rankings.player_id = players.player_id]<|endoftext|><|query|>what are the codes of countries with more than 50 players?<|endoftext|><|sql|>select country_code from players group by country_code having count(*)  >  50;<|endoftext|>'}],
 [{'role': 'user',