In [1]:
!pip install openai

Collecting openai
  Downloading openai-0.27.8-py3-none-any.whl (73 kB)
Requirement already satisfied: requests>=2.20 in c:\users\godzilla\anaconda3\lib\site-packages (from openai) (2.27.1)
Requirement already satisfied: aiohttp in c:\users\godzilla\anaconda3\lib\site-packages (from openai) (3.8.4)
Requirement already satisfied: tqdm in c:\users\godzilla\anaconda3\lib\site-packages (from openai) (4.64.0)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in c:\users\godzilla\anaconda3\lib\site-packages (from requests>=2.20->openai) (1.26.16)
Requirement already satisfied: idna<4,>=2.5 in c:\users\godzilla\anaconda3\lib\site-packages (from requests>=2.20->openai) (3.3)
Requirement already satisfied: charset-normalizer~=2.0.0 in c:\users\godzilla\anaconda3\lib\site-packages (from requests>=2.20->openai) (2.0.4)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\godzilla\anaconda3\lib\site-packages (from requests>=2.20->openai) (2021.10.8)
Requirement already satisfied: multidict<7.0,>=4.5 in c:\users\godzilla\anaconda3\lib\site-packages (from aiohttp->openai) (5.1.0)
Requirement already satisfied: attrs>=17.3.0 in c:\users\godzilla\anaconda3\lib\site-packages (from aiohttp->openai) (21.4.0)
Requirement already satisfied: async-timeout<5.0,>=4.0.0a3 in c:\users\godzilla\anaconda3\lib\site-packages (from aiohttp->openai) (4.0.1)
Requirement already satisfied: yarl<2.0,>=1.0 in c:\users\godzilla\anaconda3\lib\site-packages (from aiohttp->openai) (1.6.3)
Requirement already satisfied: frozenlist>=1.1.1 in c:\users\godzilla\anaconda3\lib\site-packages (from aiohttp->openai) (1.2.0)
Requirement already satisfied: aiosignal>=1.1.2 in c:\users\godzilla\anaconda3\lib\site-packages (from aiohttp->openai) (1.2.0)
Requirement already satisfied: typing-extensions>=3.6.5 in c:\users\godzilla\anaconda3\lib\site-packages (from async-timeout<5.0,>=4.0.0a3->aiohttp->openai) (4.6.1)
Requirement already satisfied: colorama in c:\users\godzilla\anaconda3\lib\site-packages (from tqdm->openai) (0.4.4)
Installing collected packages: openai
Successfully installed openai-0.27.8

WARNING: Ignoring invalid distribution -ffi (c:\users\godzilla\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -ffi (c:\users\godzilla\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -ffi (c:\users\godzilla\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -ffi (c:\users\godzilla\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -ffi (c:\users\godzilla\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -ffi (c:\users\godzilla\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -ffi (c:\users\godzilla\anaconda3\lib\site-packages)

In [55]:
b =['<|schema|>table addresses, columns = [*,address_id,line_1,line_2,line_3,city,zip_postcode,state_province_county,country,other_address_details]\ntable courses, columns = [*,course_id,course_name,course_description,other_details]\ntable degree_programs, columns = [*,degree_program_id,department_id,degree_summary_name,degree_summary_description,other_details]\ntable departments, columns = [*,department_id,department_name,department_description,other_details]\ntable sections, columns = [*,section_id,course_id,section_name,section_description,other_details]\ntable semesters, columns = [*,semester_id,semester_name,semester_description,other_details]\ntable student_enrolment, columns = [*,student_enrolment_id,degree_program_id,semester_id,student_id,other_details]\ntable student_enrolment_courses, columns = [*,student_course_id,course_id,student_enrolment_id]\ntable students, columns = [*,student_id,current_address_id,permanent_address_id,first_name,middle_name,last_name,cell_mobile_number,email_address,ssn,date_first_registered,date_left,other_student_details]\ntable transcript_contents, columns = [*,student_course_id,transcript_id]\ntable transcripts, columns = [*,transcript_id,transcript_date,other_details]\nforeign_keys = [addresses.address_id,courses.course_id,departments.department_id,degree_programs.degree_program_id,sections.section_id,semesters.semester_id,students.student_id,student_enrolment.student_enrolment_id,student_enrolment_courses.student_course_id,transcripts.transcript_id]\n\nprimary_keys = [degree_programs.department_id = departments.department_id,sections.course_id = courses.course_id,students.permanent_address_id = addresses.address_id,students.current_address_id = addresses.address_id,student_enrolment.student_id = students.student_id,student_enrolment.semester_id = semesters.semester_id,student_enrolment.degree_program_id = degree_programs.degree_program_id,student_enrolment_courses.student_enrolment_id = student_enrolment.student_enrolment_id,student_enrolment_courses.course_id = courses.course_id,transcript_contents.transcript_id = transcripts.transcript_id,transcript_contents.student_course_id = student_enrolment_courses.student_course_id]<|endoftext|><|query|>for each semester, what is the name and id of the one with the most students registered?<|endoftext|><|sql|>',
 '<|schema|>table has_pet, columns = [*,stuid,petid]\ntable pets, columns = [*,petid,pettype,pet_age,weight]\ntable student, columns = [*,stuid,lname,fname,age,sex,major,advisor,city_code]\nforeign_keys = [student.stuid,pets.petid]\n\nprimary_keys = [has_pet.stuid = student.stuid,has_pet.petid = pets.petid]<|endoftext|><|query|>find the average age of students who do not have any pet .<|endoftext|><|sql|>',
 "<|schema|>table car_makers, columns = [*,id,maker,fullname,country]\ntable car_names, columns = [*,makeid,model,make]\ntable cars_data, columns = [*,id,mpg,cylinders,edispl,horsepower,weight,accelerate,year]\ntable continents, columns = [*,contid,continent]\ntable countries, columns = [*,countryid,countryname,continent]\ntable model_list, columns = [*,modelid,maker,model]\nforeign_keys = [continents.contid,countries.countryid,car_makers.id,model_list.modelid,car_names.makeid,cars_data.id]\n\nprimary_keys = [countries.continent = continents.contid,car_makers.country = countries.countryid,model_list.maker = car_makers.id,car_names.model = model_list.model,cars_data.id = car_names.makeid]<|endoftext|><|query|>which distinctive models are produced by maker with the full name general motors or weighing more than 3500?<|endoftext|><|sql|>",
 '<|schema|>table city, columns = [*,id,name,countrycode,district,population]\ntable country, columns = [*,code,name,continent,region,surfacearea,indepyear,population,lifeexpectancy,gnp,gnpold,localname,governmentform,headofstate,capital,code2]\ntable countrylanguage, columns = [*,countrycode,language,isofficial,percentage]\ntable sqlite_sequence, columns = [*,name,seq]\nforeign_keys = [city.id,country.code,countrylanguage.countrycode]\n\nprimary_keys = [city.countrycode = country.code,countrylanguage.countrycode = country.code]<|endoftext|><|query|>give the name of the nation that uses the greatest amount of languages.<|endoftext|><|sql|>',
 '<|schema|>table car_makers, columns = [*,id,maker,fullname,country]\ntable car_names, columns = [*,makeid,model,make]\ntable cars_data, columns = [*,id,mpg,cylinders,edispl,horsepower,weight,accelerate,year]\ntable continents, columns = [*,contid,continent]\ntable countries, columns = [*,countryid,countryname,continent]\ntable model_list, columns = [*,modelid,maker,model]\nforeign_keys = [continents.contid,countries.countryid,car_makers.id,model_list.modelid,car_names.makeid,cars_data.id]\n\nprimary_keys = [countries.continent = continents.contid,car_makers.country = countries.countryid,model_list.maker = car_makers.id,car_names.model = model_list.model,cars_data.id = car_names.makeid]<|endoftext|><|query|>find the model of the car whose weight is below the average weight.<|endoftext|><|sql|>',
 "<|schema|>table addresses, columns = [*,address_id,line_1,line_2,line_3,city,zip_postcode,state_province_county,country,other_address_details]\ntable courses, columns = [*,course_id,course_name,course_description,other_details]\ntable degree_programs, columns = [*,degree_program_id,department_id,degree_summary_name,degree_summary_description,other_details]\ntable departments, columns = [*,department_id,department_name,department_description,other_details]\ntable sections, columns = [*,section_id,course_id,section_name,section_description,other_details]\ntable semesters, columns = [*,semester_id,semester_name,semester_description,other_details]\ntable student_enrolment, columns = [*,student_enrolment_id,degree_program_id,semester_id,student_id,other_details]\ntable student_enrolment_courses, columns = [*,student_course_id,course_id,student_enrolment_id]\ntable students, columns = [*,student_id,current_address_id,permanent_address_id,first_name,middle_name,last_name,cell_mobile_number,email_address,ssn,date_first_registered,date_left,other_student_details]\ntable transcript_contents, columns = [*,student_course_id,transcript_id]\ntable transcripts, columns = [*,transcript_id,transcript_date,other_details]\nforeign_keys = [addresses.address_id,courses.course_id,departments.department_id,degree_programs.degree_program_id,sections.section_id,semesters.semester_id,students.student_id,student_enrolment.student_enrolment_id,student_enrolment_courses.student_course_id,transcripts.transcript_id]\n\nprimary_keys = [degree_programs.department_id = departments.department_id,sections.course_id = courses.course_id,students.permanent_address_id = addresses.address_id,students.current_address_id = addresses.address_id,student_enrolment.student_id = students.student_id,student_enrolment.semester_id = semesters.semester_id,student_enrolment.degree_program_id = degree_programs.degree_program_id,student_enrolment_courses.student_enrolment_id = student_enrolment.student_enrolment_id,student_enrolment_courses.course_id = courses.course_id,transcript_contents.transcript_id = transcripts.transcript_id,transcript_contents.student_course_id = student_enrolment_courses.student_course_id]<|endoftext|><|query|>find the last name of the students who currently live in the state of north carolina but have not registered in any degree program.<|endoftext|><|sql|>",
 "<|schema|>table car_makers, columns = [*,id,maker,fullname,country]\ntable car_names, columns = [*,makeid,model,make]\ntable cars_data, columns = [*,id,mpg,cylinders,edispl,horsepower,weight,accelerate,year]\ntable continents, columns = [*,contid,continent]\ntable countries, columns = [*,countryid,countryname,continent]\ntable model_list, columns = [*,modelid,maker,model]\nforeign_keys = [continents.contid,countries.countryid,car_makers.id,model_list.modelid,car_names.makeid,cars_data.id]\n\nprimary_keys = [countries.continent = continents.contid,car_makers.country = countries.countryid,model_list.maker = car_makers.id,car_names.model = model_list.model,cars_data.id = car_names.makeid]<|endoftext|><|query|>which countries in europe have at least 3 car manufacturers?<|endoftext|><|sql|>",
 '<|schema|>table airlines, columns = [*,uid,airline,abbreviation,country]\ntable airports, columns = [*,city,airportcode,airportname,country,countryabbrev]\ntable flights, columns = [*,airline,flightno,sourceairport,destairport]\nforeign_keys = [airlines.uid,airports.airportcode,flights.airline]\n\nprimary_keys = [flights.destairport = airports.airportcode,flights.sourceairport = airports.airportcode]<|endoftext|><|query|>which city has most number of departing flights?<|endoftext|><|sql|>',
 '<|schema|>table museum, columns = [*,museum_id,name,num_of_staff,open_year]\ntable visit, columns = [*,museum_id,visitor_id,num_of_ticket,total_spent]\ntable visitor, columns = [*,id,name,level_of_membership,age]\nforeign_keys = [museum.museum_id,visitor.id,visit.museum_id]\n\nprimary_keys = [visit.visitor_id = visitor.id,visit.museum_id = museum.museum_id]<|endoftext|><|query|>find the number of visitors who did not visit any museum opened after 2010.<|endoftext|><|sql|>',
 '<|schema|>table museum, columns = [*,museum_id,name,num_of_staff,open_year]\ntable visit, columns = [*,museum_id,visitor_id,num_of_ticket,total_spent]\ntable visitor, columns = [*,id,name,level_of_membership,age]\nforeign_keys = [museum.museum_id,visitor.id,visit.museum_id]\n\nprimary_keys = [visit.visitor_id = visitor.id,visit.museum_id = museum.museum_id]<|endoftext|><|query|>what are the id, name and membership level of visitors who have spent the largest amount of money in total in all museum tickets?<|endoftext|><|sql|>',
 '<|schema|>table museum, columns = [*,museum_id,name,num_of_staff,open_year]\ntable visit, columns = [*,museum_id,visitor_id,num_of_ticket,total_spent]\ntable visitor, columns = [*,id,name,level_of_membership,age]\nforeign_keys = [museum.museum_id,visitor.id,visit.museum_id]\n\nprimary_keys = [visit.visitor_id = visitor.id,visit.museum_id = museum.museum_id]<|endoftext|><|query|>what are the id and name of the museum visited most times?<|endoftext|><|sql|>',
 '<|schema|>table breeds, columns = [*,breed_code,breed_name]\ntable charges, columns = [*,charge_id,charge_type,charge_amount]\ntable dogs, columns = [*,dog_id,owner_id,abandoned_yn,breed_code,size_code,name,age,date_of_birth,gender,weight,date_arrived,date_adopted,date_departed]\ntable owners, columns = [*,owner_id,first_name,last_name,street,city,state,zip_code,email_address,home_phone,cell_number]\ntable professionals, columns = [*,professional_id,role_code,first_name,street,city,state,zip_code,last_name,email_address,home_phone,cell_number]\ntable sizes, columns = [*,size_code,size_description]\ntable treatment_types, columns = [*,treatment_type_code,treatment_type_description]\ntable treatments, columns = [*,treatment_id,dog_id,professional_id,treatment_type_code,date_of_treatment,cost_of_treatment]\nforeign_keys = [breeds.breed_code,charges.charge_id,sizes.size_code,treatment_types.treatment_type_code,owners.owner_id,dogs.dog_id,professionals.professional_id,treatments.treatment_id]\n\nprimary_keys = [dogs.owner_id = owners.owner_id,dogs.owner_id = owners.owner_id,dogs.size_code = sizes.size_code,dogs.breed_code = breeds.breed_code,treatments.dog_id = dogs.dog_id,treatments.professional_id = professionals.professional_id,treatments.treatment_type_code = treatment_types.treatment_type_code]<|endoftext|><|query|>which professionals have operated a treatment that costs less than the average? give me theor first names and last names.<|endoftext|><|sql|>',
 "<|schema|>table has_pet, columns = [*,stuid,petid]\ntable pets, columns = [*,petid,pettype,pet_age,weight]\ntable student, columns = [*,stuid,lname,fname,age,sex,major,advisor,city_code]\nforeign_keys = [student.stuid,pets.petid]\n\nprimary_keys = [has_pet.stuid = student.stuid,has_pet.petid = pets.petid]<|endoftext|><|query|>what are the students' first names who have both cats and dogs as pets?<|endoftext|><|sql|>",
 '<|schema|>table airlines, columns = [*,uid,airline,abbreviation,country]\ntable airports, columns = [*,city,airportcode,airportname,country,countryabbrev]\ntable flights, columns = [*,airline,flightno,sourceairport,destairport]\nforeign_keys = [airlines.uid,airports.airportcode,flights.airline]\n\nprimary_keys = [flights.destairport = airports.airportcode,flights.sourceairport = airports.airportcode]<|endoftext|><|query|>find the abbreviation and country of the airline that has fewest number of flights?<|endoftext|><|sql|>',
 '<|schema|>table concert, columns = [*,concert_id,concert_name,theme,stadium_id,year]\ntable singer, columns = [*,singer_id,name,country,song_name,song_release_year,age,is_male]\ntable singer_in_concert, columns = [*,concert_id,singer_id]\ntable stadium, columns = [*,stadium_id,location,name,capacity,highest,lowest,average]\nforeign_keys = [stadium.stadium_id,singer.singer_id,concert.concert_id,singer_in_concert.concert_id,singer_in_concert.singer_id]\n\nprimary_keys = [concert.stadium_id = stadium.stadium_id,singer_in_concert.singer_id = singer.singer_id,singer_in_concert.concert_id = concert.concert_id]<|endoftext|><|query|>find the name and location of the stadiums which some concerts happened in the years of both 2014 and 2015.<|endoftext|><|sql|>',
 '<|schema|>table city, columns = [*,id,name,countrycode,district,population]\ntable country, columns = [*,code,name,continent,region,surfacearea,indepyear,population,lifeexpectancy,gnp,gnpold,localname,governmentform,headofstate,capital,code2]\ntable countrylanguage, columns = [*,countrycode,language,isofficial,percentage]\ntable sqlite_sequence, columns = [*,name,seq]\nforeign_keys = [city.id,country.code,countrylanguage.countrycode]\n\nprimary_keys = [city.countrycode = country.code,countrylanguage.countrycode = country.code]<|endoftext|><|query|>find the number of cities in each district whose population is greater than the average population of cities?<|endoftext|><|sql|>',
 '<|schema|>table city, columns = [*,id,name,countrycode,district,population]\ntable country, columns = [*,code,name,continent,region,surfacearea,indepyear,population,lifeexpectancy,gnp,gnpold,localname,governmentform,headofstate,capital,code2]\ntable countrylanguage, columns = [*,countrycode,language,isofficial,percentage]\ntable sqlite_sequence, columns = [*,name,seq]\nforeign_keys = [city.id,country.code,countrylanguage.countrycode]\n\nprimary_keys = [city.countrycode = country.code,countrylanguage.countrycode = country.code]<|endoftext|><|query|>what are the countries where either english or dutch is the official language ?<|endoftext|><|sql|>',
 '<|schema|>table city, columns = [*,id,name,countrycode,district,population]\ntable country, columns = [*,code,name,continent,region,surfacearea,indepyear,population,lifeexpectancy,gnp,gnpold,localname,governmentform,headofstate,capital,code2]\ntable countrylanguage, columns = [*,countrycode,language,isofficial,percentage]\ntable sqlite_sequence, columns = [*,name,seq]\nforeign_keys = [city.id,country.code,countrylanguage.countrycode]\n\nprimary_keys = [city.countrycode = country.code,countrylanguage.countrycode = country.code]<|endoftext|><|query|>give the names of nations that speak both english and french.<|endoftext|><|sql|>',
 "<|schema|>table battle, columns = [*,id,name,date,bulgarian_commander,latin_commander,result]\ntable death, columns = [*,caused_by_ship_id,id,note,killed,injured]\ntable ship, columns = [*,lost_in_battle,id,name,tonnage,ship_type,location,disposition_of_ship]\nforeign_keys = [battle.id,ship.id,death.id]\n\nprimary_keys = [ship.lost_in_battle = battle.id,death.caused_by_ship_id = ship.id]<|endoftext|><|query|>how many battles did not lose any ship with tonnage '225'?<|endoftext|><|sql|>",
 '<|schema|>table airlines, columns = [*,uid,airline,abbreviation,country]\ntable airports, columns = [*,city,airportcode,airportname,country,countryabbrev]\ntable flights, columns = [*,airline,flightno,sourceairport,destairport]\nforeign_keys = [airlines.uid,airports.airportcode,flights.airline]\n\nprimary_keys = [flights.destairport = airports.airportcode,flights.sourceairport = airports.airportcode]<|endoftext|><|query|>which city has the most frequent destination airport?<|endoftext|><|sql|>',
 '<|schema|>table breeds, columns = [*,breed_code,breed_name]\ntable charges, columns = [*,charge_id,charge_type,charge_amount]\ntable dogs, columns = [*,dog_id,owner_id,abandoned_yn,breed_code,size_code,name,age,date_of_birth,gender,weight,date_arrived,date_adopted,date_departed]\ntable owners, columns = [*,owner_id,first_name,last_name,street,city,state,zip_code,email_address,home_phone,cell_number]\ntable professionals, columns = [*,professional_id,role_code,first_name,street,city,state,zip_code,last_name,email_address,home_phone,cell_number]\ntable sizes, columns = [*,size_code,size_description]\ntable treatment_types, columns = [*,treatment_type_code,treatment_type_description]\ntable treatments, columns = [*,treatment_id,dog_id,professional_id,treatment_type_code,date_of_treatment,cost_of_treatment]\nforeign_keys = [breeds.breed_code,charges.charge_id,sizes.size_code,treatment_types.treatment_type_code,owners.owner_id,dogs.dog_id,professionals.professional_id,treatments.treatment_id]\n\nprimary_keys = [dogs.owner_id = owners.owner_id,dogs.owner_id = owners.owner_id,dogs.size_code = sizes.size_code,dogs.breed_code = breeds.breed_code,treatments.dog_id = dogs.dog_id,treatments.professional_id = professionals.professional_id,treatments.treatment_type_code = treatment_types.treatment_type_code]<|endoftext|><|query|>return the owner id, first name and last name of the owner who has the most dogs.<|endoftext|><|sql|>',
 '<|schema|>table breeds, columns = [*,breed_code,breed_name]\ntable charges, columns = [*,charge_id,charge_type,charge_amount]\ntable dogs, columns = [*,dog_id,owner_id,abandoned_yn,breed_code,size_code,name,age,date_of_birth,gender,weight,date_arrived,date_adopted,date_departed]\ntable owners, columns = [*,owner_id,first_name,last_name,street,city,state,zip_code,email_address,home_phone,cell_number]\ntable professionals, columns = [*,professional_id,role_code,first_name,street,city,state,zip_code,last_name,email_address,home_phone,cell_number]\ntable sizes, columns = [*,size_code,size_description]\ntable treatment_types, columns = [*,treatment_type_code,treatment_type_description]\ntable treatments, columns = [*,treatment_id,dog_id,professional_id,treatment_type_code,date_of_treatment,cost_of_treatment]\nforeign_keys = [breeds.breed_code,charges.charge_id,sizes.size_code,treatment_types.treatment_type_code,owners.owner_id,dogs.dog_id,professionals.professional_id,treatments.treatment_id]\n\nprimary_keys = [dogs.owner_id = owners.owner_id,dogs.owner_id = owners.owner_id,dogs.size_code = sizes.size_code,dogs.breed_code = breeds.breed_code,treatments.dog_id = dogs.dog_id,treatments.professional_id = professionals.professional_id,treatments.treatment_type_code = treatment_types.treatment_type_code]<|endoftext|><|query|>which breed do the most dogs have? give me the breed name.<|endoftext|><|sql|>',
 '<|schema|>table has_pet, columns = [*,stuid,petid]\ntable pets, columns = [*,petid,pettype,pet_age,weight]\ntable student, columns = [*,stuid,lname,fname,age,sex,major,advisor,city_code]\nforeign_keys = [student.stuid,pets.petid]\n\nprimary_keys = [has_pet.stuid = student.stuid,has_pet.petid = pets.petid]<|endoftext|><|query|>what is the average age for all students who do not own any pets ?<|endoftext|><|sql|>',
 '<|schema|>table area_code_state, columns = [*,area_code,state]\ntable contestants, columns = [*,contestant_number,contestant_name]\ntable votes, columns = [*,vote_id,phone_number,state,contestant_number,created]\nforeign_keys = [area_code_state.area_code,contestants.contestant_number,votes.vote_id]\n\nprimary_keys = [votes.contestant_number = contestants.contestant_number,votes.state = area_code_state.state]<|endoftext|><|query|>what is the area code in which the most voters voted?<|endoftext|><|sql|>',
 "<|schema|>table cartoon, columns = [*,id,title,directed_by,written_by,original_air_date,production_code,channel]\ntable tv_channel, columns = [*,id,series_name,country,language,content,pixel_aspect_ratio_par,hight_definition_tv,pay_per_view_ppv,package_option]\ntable tv_series, columns = [*,id,episode,air_date,rating,share,18_49_rating_share,viewers_m,weekly_rank,channel]\nforeign_keys = [tv_channel.id,tv_series.id,cartoon.id]\n\nprimary_keys = [tv_series.channel = tv_channel.id,cartoon.channel = tv_channel.id]<|endoftext|><|query|>find the series name and country of the tv channel that is playing some cartoons directed by ben jones and michael chang?<|endoftext|><|sql|>"]

In [56]:
import openai

openai.api_key = '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'

In [57]:
messages = []

In [58]:
for a in b:
    messages.append([{"role": "user", "content": "Convert text into SQL statements by providing a database schema and a query, and generate only the corresponding SQL statement." + a}])

In [59]:
ans = []

In [60]:
for msg in messages:
    chat = openai.ChatCompletion.create(
                model="gpt-3.5-turbo", messages=msg
        )
    ans.append(chat.choices[0].message.content)

In [61]:
save_path = 'C:/Users/GODZILLA/Desktop/Faculdade/TCC/text2sql_tcc/inference results/big models/chatgpt/extra/result.sql'
print('Saving inferences on ', save_path)
with open(save_path, 'w') as f:
    f.write("<separator>".join(ans))

Saving inferences on  C:/Users/GODZILLA/Desktop/Faculdade/TCC/text2sql_tcc/inference results/big models/chatgpt/extra/result.sql

In [62]:
save_path = 'C:/Users/GODZILLA/Desktop/Faculdade/TCC/text2sql_tcc/dev_gold.sql'
print('Saving inferences on ', save_path)
with open(save_path, 'r') as f:
    a = f.read()

Saving inferences on  C:/Users/GODZILLA/Desktop/Faculdade/TCC/text2sql_tcc/dev_gold.sql

In [66]:
indxs = {
    'easy': [653, 729, 734, 205, 182, 867, 660, 577, 333, 709, 678, 682, 511, 527, 429, 440, 144, 705, 357, 478, 398, 384, 614, 248, 295],
    'medium': [565, 400, 208, 210, 631, 816, 946, 324, 751, 5, 908, 875, 651, 629, 424, 407, 40, 453, 307, 272, 489, 634, 498, 507, 858],
    'hard': [282, 635, 294, 375, 379, 173, 103, 786, 920, 645, 212, 855, 255, 53, 29, 159, 466, 279, 54, 396, 894, 900, 899, 676, 276],
    'extra': [530, 85, 151, 741, 97, 549, 129, 223, 427, 420, 421, 945, 60, 231, 41, 794, 754, 747, 503, 222, 931, 935, 86, 698, 637],
}

In [74]:
spl = a.split('\n')
for i in indxs:
    d = [spl[c] for c in indxs[i]]
    save_path = f'C:/Users/GODZILLA/Desktop/Faculdade/TCC/text2sql_tcc/dev_{i}.sql'
    print('Saving inferences on ', save_path)
    with open(save_path, 'w') as f:
        f.write("<separator>".join(d))

Saving inferences on  C:/Users/GODZILLA/Desktop/Faculdade/TCC/text2sql_tcc/dev_easy.sql
Saving inferences on  C:/Users/GODZILLA/Desktop/Faculdade/TCC/text2sql_tcc/dev_medium.sql
Saving inferences on  C:/Users/GODZILLA/Desktop/Faculdade/TCC/text2sql_tcc/dev_hard.sql
Saving inferences on  C:/Users/GODZILLA/Desktop/Faculdade/TCC/text2sql_tcc/dev_extra.sql