In [1]:
!pip install openai

Collecting openai
  Downloading openai-0.27.8-py3-none-any.whl (73 kB)
Requirement already satisfied: requests>=2.20 in c:\users\godzilla\anaconda3\lib\site-packages (from openai) (2.27.1)
Requirement already satisfied: aiohttp in c:\users\godzilla\anaconda3\lib\site-packages (from openai) (3.8.4)
Requirement already satisfied: tqdm in c:\users\godzilla\anaconda3\lib\site-packages (from openai) (4.64.0)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in c:\users\godzilla\anaconda3\lib\site-packages (from requests>=2.20->openai) (1.26.16)
Requirement already satisfied: idna<4,>=2.5 in c:\users\godzilla\anaconda3\lib\site-packages (from requests>=2.20->openai) (3.3)
Requirement already satisfied: charset-normalizer~=2.0.0 in c:\users\godzilla\anaconda3\lib\site-packages (from requests>=2.20->openai) (2.0.4)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\godzilla\anaconda3\lib\site-packages (from requests>=2.20->openai) (2021.10.8)
Requirement already satisfied: multidict<7.0,>=4.5 in c:\users\godzilla\anaconda3\lib\site-packages (from aiohttp->openai) (5.1.0)
Requirement already satisfied: attrs>=17.3.0 in c:\users\godzilla\anaconda3\lib\site-packages (from aiohttp->openai) (21.4.0)
Requirement already satisfied: async-timeout<5.0,>=4.0.0a3 in c:\users\godzilla\anaconda3\lib\site-packages (from aiohttp->openai) (4.0.1)
Requirement already satisfied: yarl<2.0,>=1.0 in c:\users\godzilla\anaconda3\lib\site-packages (from aiohttp->openai) (1.6.3)
Requirement already satisfied: frozenlist>=1.1.1 in c:\users\godzilla\anaconda3\lib\site-packages (from aiohttp->openai) (1.2.0)
Requirement already satisfied: aiosignal>=1.1.2 in c:\users\godzilla\anaconda3\lib\site-packages (from aiohttp->openai) (1.2.0)
Requirement already satisfied: typing-extensions>=3.6.5 in c:\users\godzilla\anaconda3\lib\site-packages (from async-timeout<5.0,>=4.0.0a3->aiohttp->openai) (4.6.1)
Requirement already satisfied: colorama in c:\users\godzilla\anaconda3\lib\site-packages (from tqdm->openai) (0.4.4)
Installing collected packages: openai
Successfully installed openai-0.27.8

WARNING: Ignoring invalid distribution -ffi (c:\users\godzilla\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -ffi (c:\users\godzilla\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -ffi (c:\users\godzilla\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -ffi (c:\users\godzilla\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -ffi (c:\users\godzilla\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -ffi (c:\users\godzilla\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -ffi (c:\users\godzilla\anaconda3\lib\site-packages)

In [83]:
b =['<|schema|>table people, columns = [*,people_id,nationality,name,birth_date,height]\ntable poker_player, columns = [*,poker_player_id,people_id,final_table_made,best_finish,money_rank,earnings]\nforeign_keys = [poker_player.poker_player_id,people.people_id]\n\nprimary_keys = [poker_player.people_id = people.people_id]<|endoftext|><|query|>what is the average earnings of poker players?<|endoftext|><|sql|>',
 '<|schema|>table city, columns = [*,id,name,countrycode,district,population]\ntable country, columns = [*,code,name,continent,region,surfacearea,indepyear,population,lifeexpectancy,gnp,gnpold,localname,governmentform,headofstate,capital,code2]\ntable countrylanguage, columns = [*,countrycode,language,isofficial,percentage]\ntable sqlite_sequence, columns = [*,name,seq]\nforeign_keys = [city.id,country.code,countrylanguage.countrycode]\n\nprimary_keys = [city.countrycode = country.code,countrylanguage.countrycode = country.code]<|endoftext|><|query|>what is the total population of gelderland district?<|endoftext|><|sql|>',
 '<|schema|>table city, columns = [*,id,name,countrycode,district,population]\ntable country, columns = [*,code,name,continent,region,surfacearea,indepyear,population,lifeexpectancy,gnp,gnpold,localname,governmentform,headofstate,capital,code2]\ntable countrylanguage, columns = [*,countrycode,language,isofficial,percentage]\ntable sqlite_sequence, columns = [*,name,seq]\nforeign_keys = [city.id,country.code,countrylanguage.countrycode]\n\nprimary_keys = [city.countrycode = country.code,countrylanguage.countrycode = country.code]<|endoftext|><|query|>how many type of governments are in africa?<|endoftext|><|sql|>',
 '<|schema|>table airlines, columns = [*,uid,airline,abbreviation,country]\ntable airports, columns = [*,city,airportcode,airportname,country,countryabbrev]\ntable flights, columns = [*,airline,flightno,sourceairport,destairport]\nforeign_keys = [airlines.uid,airports.airportcode,flights.airline]\n\nprimary_keys = [flights.destairport = airports.airportcode,flights.sourceairport = airports.airportcode]<|endoftext|><|query|>how many flights have destination ato?<|endoftext|><|sql|>',
 '<|schema|>table airlines, columns = [*,uid,airline,abbreviation,country]\ntable airports, columns = [*,city,airportcode,airportname,country,countryabbrev]\ntable flights, columns = [*,airline,flightno,sourceairport,destairport]\nforeign_keys = [airlines.uid,airports.airportcode,flights.airline]\n\nprimary_keys = [flights.destairport = airports.airportcode,flights.sourceairport = airports.airportcode]<|endoftext|><|query|>which abbreviation corresponds to jetblue airways?<|endoftext|><|sql|>',
 '<|schema|>table friend, columns = [*,student_id,friend_id]\ntable highschooler, columns = [*,id,name,grade]\ntable likes, columns = [*,student_id,liked_id]\nforeign_keys = [highschooler.id,friend.student_id,likes.student_id]\n\nprimary_keys = [friend.friend_id = highschooler.id,friend.student_id = highschooler.id,likes.student_id = highschooler.id,likes.liked_id = highschooler.id]<|endoftext|><|query|>what is the grade of each high schooler?<|endoftext|><|sql|>',
 '<|schema|>table people, columns = [*,people_id,nationality,name,birth_date,height]\ntable poker_player, columns = [*,poker_player_id,people_id,final_table_made,best_finish,money_rank,earnings]\nforeign_keys = [poker_player.poker_player_id,people.people_id]\n\nprimary_keys = [poker_player.people_id = people.people_id]<|endoftext|><|query|>return the names of all the poker players.<|endoftext|><|sql|>',
 '<|schema|>table addresses, columns = [*,address_id,line_1,line_2,line_3,city,zip_postcode,state_province_county,country,other_address_details]\ntable courses, columns = [*,course_id,course_name,course_description,other_details]\ntable degree_programs, columns = [*,degree_program_id,department_id,degree_summary_name,degree_summary_description,other_details]\ntable departments, columns = [*,department_id,department_name,department_description,other_details]\ntable sections, columns = [*,section_id,course_id,section_name,section_description,other_details]\ntable semesters, columns = [*,semester_id,semester_name,semester_description,other_details]\ntable student_enrolment, columns = [*,student_enrolment_id,degree_program_id,semester_id,student_id,other_details]\ntable student_enrolment_courses, columns = [*,student_course_id,course_id,student_enrolment_id]\ntable students, columns = [*,student_id,current_address_id,permanent_address_id,first_name,middle_name,last_name,cell_mobile_number,email_address,ssn,date_first_registered,date_left,other_student_details]\ntable transcript_contents, columns = [*,student_course_id,transcript_id]\ntable transcripts, columns = [*,transcript_id,transcript_date,other_details]\nforeign_keys = [addresses.address_id,courses.course_id,departments.department_id,degree_programs.degree_program_id,sections.section_id,semesters.semester_id,students.student_id,student_enrolment.student_enrolment_id,student_enrolment_courses.student_course_id,transcripts.transcript_id]\n\nprimary_keys = [degree_programs.department_id = departments.department_id,sections.course_id = courses.course_id,students.permanent_address_id = addresses.address_id,students.current_address_id = addresses.address_id,student_enrolment.student_id = students.student_id,student_enrolment.semester_id = semesters.semester_id,student_enrolment.degree_program_id = degree_programs.degree_program_id,student_enrolment_courses.student_enrolment_id = student_enrolment.student_enrolment_id,student_enrolment_courses.course_id = courses.course_id,transcript_contents.transcript_id = transcripts.transcript_id,transcript_contents.student_course_id = student_enrolment_courses.student_course_id]<|endoftext|><|query|>how many different addresses do the students currently live?<|endoftext|><|sql|>',
 '<|schema|>table documents, columns = [*,document_id,template_id,document_name,document_description,other_details]\ntable paragraphs, columns = [*,paragraph_id,document_id,paragraph_text,other_details]\ntable ref_template_types, columns = [*,template_type_code,template_type_description]\ntable templates, columns = [*,template_id,version_number,template_type_code,date_effective_from,date_effective_to,template_details]\nforeign_keys = [ref_template_types.template_type_code,templates.template_id,documents.document_id,paragraphs.paragraph_id]\n\nprimary_keys = [templates.template_type_code = ref_template_types.template_type_code,documents.template_id = templates.template_id,paragraphs.document_id = documents.document_id]<|endoftext|><|query|>show all template type codes with less than three templates.<|endoftext|><|sql|>',
 '<|schema|>table city, columns = [*,id,name,countrycode,district,population]\ntable country, columns = [*,code,name,continent,region,surfacearea,indepyear,population,lifeexpectancy,gnp,gnpold,localname,governmentform,headofstate,capital,code2]\ntable countrylanguage, columns = [*,countrycode,language,isofficial,percentage]\ntable sqlite_sequence, columns = [*,name,seq]\nforeign_keys = [city.id,country.code,countrylanguage.countrycode]\n\nprimary_keys = [city.countrycode = country.code,countrylanguage.countrycode = country.code]<|endoftext|><|query|>what is the continent name which anguilla belongs to?<|endoftext|><|sql|>',
 '<|schema|>table people, columns = [*,people_id,nationality,name,birth_date,height]\ntable poker_player, columns = [*,poker_player_id,people_id,final_table_made,best_finish,money_rank,earnings]\nforeign_keys = [poker_player.poker_player_id,people.people_id]\n\nprimary_keys = [poker_player.people_id = people.people_id]<|endoftext|><|query|>return the nationalities for which there are two or more people.<|endoftext|><|sql|>',
 '<|schema|>table people, columns = [*,people_id,nationality,name,birth_date,height]\ntable poker_player, columns = [*,poker_player_id,people_id,final_table_made,best_finish,money_rank,earnings]\nforeign_keys = [poker_player.poker_player_id,people.people_id]\n\nprimary_keys = [poker_player.people_id = people.people_id]<|endoftext|><|query|>what are the names of people who are not from russia?<|endoftext|><|sql|>',
 "<|schema|>table addresses, columns = [*,address_id,line_1,line_2,line_3,city,zip_postcode,state_province_county,country,other_address_details]\ntable courses, columns = [*,course_id,course_name,course_description,other_details]\ntable degree_programs, columns = [*,degree_program_id,department_id,degree_summary_name,degree_summary_description,other_details]\ntable departments, columns = [*,department_id,department_name,department_description,other_details]\ntable sections, columns = [*,section_id,course_id,section_name,section_description,other_details]\ntable semesters, columns = [*,semester_id,semester_name,semester_description,other_details]\ntable student_enrolment, columns = [*,student_enrolment_id,degree_program_id,semester_id,student_id,other_details]\ntable student_enrolment_courses, columns = [*,student_course_id,course_id,student_enrolment_id]\ntable students, columns = [*,student_id,current_address_id,permanent_address_id,first_name,middle_name,last_name,cell_mobile_number,email_address,ssn,date_first_registered,date_left,other_student_details]\ntable transcript_contents, columns = [*,student_course_id,transcript_id]\ntable transcripts, columns = [*,transcript_id,transcript_date,other_details]\nforeign_keys = [addresses.address_id,courses.course_id,departments.department_id,degree_programs.degree_program_id,sections.section_id,semesters.semester_id,students.student_id,student_enrolment.student_enrolment_id,student_enrolment_courses.student_course_id,transcripts.transcript_id]\n\nprimary_keys = [degree_programs.department_id = departments.department_id,sections.course_id = courses.course_id,students.permanent_address_id = addresses.address_id,students.current_address_id = addresses.address_id,student_enrolment.student_id = students.student_id,student_enrolment.semester_id = semesters.semester_id,student_enrolment.degree_program_id = degree_programs.degree_program_id,student_enrolment_courses.student_enrolment_id = student_enrolment.student_enrolment_id,student_enrolment_courses.course_id = courses.course_id,transcript_contents.transcript_id = transcripts.transcript_id,transcript_contents.student_course_id = student_enrolment_courses.student_course_id]<|endoftext|><|query|>how is the math course described?<|endoftext|><|sql|>",
 '<|schema|>table addresses, columns = [*,address_id,line_1,line_2,line_3,city,zip_postcode,state_province_county,country,other_address_details]\ntable courses, columns = [*,course_id,course_name,course_description,other_details]\ntable degree_programs, columns = [*,degree_program_id,department_id,degree_summary_name,degree_summary_description,other_details]\ntable departments, columns = [*,department_id,department_name,department_description,other_details]\ntable sections, columns = [*,section_id,course_id,section_name,section_description,other_details]\ntable semesters, columns = [*,semester_id,semester_name,semester_description,other_details]\ntable student_enrolment, columns = [*,student_enrolment_id,degree_program_id,semester_id,student_id,other_details]\ntable student_enrolment_courses, columns = [*,student_course_id,course_id,student_enrolment_id]\ntable students, columns = [*,student_id,current_address_id,permanent_address_id,first_name,middle_name,last_name,cell_mobile_number,email_address,ssn,date_first_registered,date_left,other_student_details]\ntable transcript_contents, columns = [*,student_course_id,transcript_id]\ntable transcripts, columns = [*,transcript_id,transcript_date,other_details]\nforeign_keys = [addresses.address_id,courses.course_id,departments.department_id,degree_programs.degree_program_id,sections.section_id,semesters.semester_id,students.student_id,student_enrolment.student_enrolment_id,student_enrolment_courses.student_course_id,transcripts.transcript_id]\n\nprimary_keys = [degree_programs.department_id = departments.department_id,sections.course_id = courses.course_id,students.permanent_address_id = addresses.address_id,students.current_address_id = addresses.address_id,student_enrolment.student_id = students.student_id,student_enrolment.semester_id = semesters.semester_id,student_enrolment.degree_program_id = degree_programs.degree_program_id,student_enrolment_courses.student_enrolment_id = student_enrolment.student_enrolment_id,student_enrolment_courses.course_id = courses.course_id,transcript_contents.transcript_id = transcripts.transcript_id,transcript_contents.student_course_id = student_enrolment_courses.student_course_id]<|endoftext|><|query|>list the section_name in reversed lexicographical order.<|endoftext|><|sql|>',
 '<|schema|>table matches, columns = [*,best_of,draw_size,loser_age,loser_entry,loser_hand,loser_ht,loser_id,loser_ioc,loser_name,loser_rank,loser_rank_points,loser_seed,match_num,minutes,round,score,surface,tourney_date,tourney_id,tourney_level,tourney_name,winner_age,winner_entry,winner_hand,winner_ht,winner_id,winner_ioc,winner_name,winner_rank,winner_rank_points,winner_seed,year]\ntable players, columns = [*,player_id,first_name,last_name,hand,birth_date,country_code]\ntable rankings, columns = [*,ranking_date,ranking,player_id,ranking_points,tours]\nforeign_keys = [players.player_id]\n\nprimary_keys = [matches.winner_id = players.player_id,matches.loser_id = players.player_id,rankings.player_id = players.player_id]<|endoftext|><|query|>find the total number of players.<|endoftext|><|sql|>',
 '<|schema|>table matches, columns = [*,best_of,draw_size,loser_age,loser_entry,loser_hand,loser_ht,loser_id,loser_ioc,loser_name,loser_rank,loser_rank_points,loser_seed,match_num,minutes,round,score,surface,tourney_date,tourney_id,tourney_level,tourney_name,winner_age,winner_entry,winner_hand,winner_ht,winner_id,winner_ioc,winner_name,winner_rank,winner_rank_points,winner_seed,year]\ntable players, columns = [*,player_id,first_name,last_name,hand,birth_date,country_code]\ntable rankings, columns = [*,ranking_date,ranking,player_id,ranking_points,tours]\nforeign_keys = [players.player_id]\n\nprimary_keys = [matches.winner_id = players.player_id,matches.loser_id = players.player_id,rankings.player_id = players.player_id]<|endoftext|><|query|>what is the best rank of losers across all matches?<|endoftext|><|sql|>',
 '<|schema|>table car_makers, columns = [*,id,maker,fullname,country]\ntable car_names, columns = [*,makeid,model,make]\ntable cars_data, columns = [*,id,mpg,cylinders,edispl,horsepower,weight,accelerate,year]\ntable continents, columns = [*,contid,continent]\ntable countries, columns = [*,countryid,countryname,continent]\ntable model_list, columns = [*,modelid,maker,model]\nforeign_keys = [continents.contid,countries.countryid,car_makers.id,model_list.modelid,car_names.makeid,cars_data.id]\n\nprimary_keys = [countries.continent = continents.contid,car_makers.country = countries.countryid,model_list.maker = car_makers.id,car_names.model = model_list.model,cars_data.id = car_names.makeid]<|endoftext|><|query|>what is the number of cars with more than 4 cylinders?<|endoftext|><|sql|>',
 '<|schema|>table city, columns = [*,id,name,countrycode,district,population]\ntable country, columns = [*,code,name,continent,region,surfacearea,indepyear,population,lifeexpectancy,gnp,gnpold,localname,governmentform,headofstate,capital,code2]\ntable countrylanguage, columns = [*,countrycode,language,isofficial,percentage]\ntable sqlite_sequence, columns = [*,name,seq]\nforeign_keys = [city.id,country.code,countrylanguage.countrycode]\n\nprimary_keys = [city.countrycode = country.code,countrylanguage.countrycode = country.code]<|endoftext|><|query|>how many countries have governments that are republics?<|endoftext|><|sql|>',
 '<|schema|>table documents, columns = [*,document_id,template_id,document_name,document_description,other_details]\ntable paragraphs, columns = [*,paragraph_id,document_id,paragraph_text,other_details]\ntable ref_template_types, columns = [*,template_type_code,template_type_description]\ntable templates, columns = [*,template_id,version_number,template_type_code,date_effective_from,date_effective_to,template_details]\nforeign_keys = [ref_template_types.template_type_code,templates.template_id,documents.document_id,paragraphs.paragraph_id]\n\nprimary_keys = [templates.template_type_code = ref_template_types.template_type_code,documents.template_id = templates.template_id,paragraphs.document_id = documents.document_id]<|endoftext|><|query|>how many paragraphs in total?<|endoftext|><|sql|>',
 '<|schema|>table matches, columns = [*,best_of,draw_size,loser_age,loser_entry,loser_hand,loser_ht,loser_id,loser_ioc,loser_name,loser_rank,loser_rank_points,loser_seed,match_num,minutes,round,score,surface,tourney_date,tourney_id,tourney_level,tourney_name,winner_age,winner_entry,winner_hand,winner_ht,winner_id,winner_ioc,winner_name,winner_rank,winner_rank_points,winner_seed,year]\ntable players, columns = [*,player_id,first_name,last_name,hand,birth_date,country_code]\ntable rankings, columns = [*,ranking_date,ranking,player_id,ranking_points,tours]\nforeign_keys = [players.player_id]\n\nprimary_keys = [matches.winner_id = players.player_id,matches.loser_id = players.player_id,rankings.player_id = players.player_id]<|endoftext|><|query|>what are the codes of countries with more than 50 players?<|endoftext|><|sql|>',
 '<|schema|>table course, columns = [*,course_id,staring_date,course]\ntable course_arrange, columns = [*,course_id,teacher_id,grade]\ntable teacher, columns = [*,teacher_id,name,age,hometown]\nforeign_keys = [course.course_id,teacher.teacher_id,course_arrange.course_id]\n\nprimary_keys = [course_arrange.teacher_id = teacher.teacher_id,course_arrange.course_id = course.course_id]<|endoftext|><|query|>what are the towns from which at least two teachers come from?<|endoftext|><|sql|>',
 '<|schema|>table course, columns = [*,course_id,staring_date,course]\ntable course_arrange, columns = [*,course_id,teacher_id,grade]\ntable teacher, columns = [*,teacher_id,name,age,hometown]\nforeign_keys = [course.course_id,teacher.teacher_id,course_arrange.course_id]\n\nprimary_keys = [course_arrange.teacher_id = teacher.teacher_id,course_arrange.course_id = course.course_id]<|endoftext|><|query|>what are the names of the teachers ordered by ascending age?<|endoftext|><|sql|>',
 '<|schema|>table cartoon, columns = [*,id,title,directed_by,written_by,original_air_date,production_code,channel]\ntable tv_channel, columns = [*,id,series_name,country,language,content,pixel_aspect_ratio_par,hight_definition_tv,pay_per_view_ppv,package_option]\ntable tv_series, columns = [*,id,episode,air_date,rating,share,18_49_rating_share,viewers_m,weekly_rank,channel]\nforeign_keys = [tv_channel.id,tv_series.id,cartoon.id]\n\nprimary_keys = [tv_series.channel = tv_channel.id,cartoon.channel = tv_channel.id]<|endoftext|><|query|>what are all of the episodes ordered by ratings?<|endoftext|><|sql|>',
 '<|schema|>table airlines, columns = [*,uid,airline,abbreviation,country]\ntable airports, columns = [*,city,airportcode,airportname,country,countryabbrev]\ntable flights, columns = [*,airline,flightno,sourceairport,destairport]\nforeign_keys = [airlines.uid,airports.airportcode,flights.airline]\n\nprimary_keys = [flights.destairport = airports.airportcode,flights.sourceairport = airports.airportcode]<|endoftext|><|query|>give the flight numbers of flights leaving from apg.<|endoftext|><|sql|>',
 '<|schema|>table employee, columns = [*,employee_id,name,age,city]\ntable evaluation, columns = [*,employee_id,year_awarded,bonus]\ntable hiring, columns = [*,shop_id,employee_id,start_from,is_full_time]\ntable shop, columns = [*,shop_id,name,location,district,number_products,manager_name]\nforeign_keys = [employee.employee_id,shop.shop_id,hiring.employee_id,evaluation.employee_id]\n\nprimary_keys = [hiring.employee_id = employee.employee_id,hiring.shop_id = shop.shop_id,evaluation.employee_id = employee.employee_id]<|endoftext|><|query|>how many different store locations are there?<|endoftext|><|sql|>']

In [76]:
import openai

openai.api_key = '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'

In [84]:
messages = []

In [85]:
for a in b:
    messages.append([{"role": "user", "content": "Convert text into SQL statements by providing a database schema and a query, and generate only the corresponding SQL statement." + a}])

In [86]:
print(messages[0][0]['content'])

Convert text into SQL statements by providing a database schema and a query, and generate only the corresponding SQL statement.<|schema|>table people, columns = [*,people_id,nationality,name,birth_date,height]
table poker_player, columns = [*,poker_player_id,people_id,final_table_made,best_finish,money_rank,earnings]
foreign_keys = [poker_player.poker_player_id,people.people_id]

primary_keys = [poker_player.people_id = people.people_id]<|endoftext|><|query|>what is the average earnings of poker players?<|endoftext|><|sql|>

In [59]:
ans = []

In [60]:
for msg in messages:
    chat = openai.ChatCompletion.create(
                model="gpt-3.5-turbo", messages=msg
        )
    ans.append(chat.choices[0].message.content)

In [61]:
save_path = 'C:/Users/GODZILLA/Desktop/Faculdade/TCC/text2sql_tcc/inference results/big models/chatgpt/extra/result.sql'
print('Saving inferences on ', save_path)
with open(save_path, 'w') as f:
    f.write("<separator>".join(ans))

Saving inferences on  C:/Users/GODZILLA/Desktop/Faculdade/TCC/text2sql_tcc/inference results/big models/chatgpt/extra/result.sql

In [62]:
save_path = 'C:/Users/GODZILLA/Desktop/Faculdade/TCC/text2sql_tcc/dev_gold.sql'
print('Saving inferences on ', save_path)
with open(save_path, 'r') as f:
    a = f.read()

Saving inferences on  C:/Users/GODZILLA/Desktop/Faculdade/TCC/text2sql_tcc/dev_gold.sql

In [66]:
indxs = {
    'easy': [653, 729, 734, 205, 182, 867, 660, 577, 333, 709, 678, 682, 511, 527, 429, 440, 144, 705, 357, 478, 398, 384, 614, 248, 295],
    'medium': [565, 400, 208, 210, 631, 816, 946, 324, 751, 5, 908, 875, 651, 629, 424, 407, 40, 453, 307, 272, 489, 634, 498, 507, 858],
    'hard': [282, 635, 294, 375, 379, 173, 103, 786, 920, 645, 212, 855, 255, 53, 29, 159, 466, 279, 54, 396, 894, 900, 899, 676, 276],
    'extra': [530, 85, 151, 741, 97, 549, 129, 223, 427, 420, 421, 945, 60, 231, 41, 794, 754, 747, 503, 222, 931, 935, 86, 698, 637],
}

In [74]:
spl = a.split('\n')
for i in indxs:
    d = [spl[c] for c in indxs[i]]
    save_path = f'C:/Users/GODZILLA/Desktop/Faculdade/TCC/text2sql_tcc/dev_{i}.sql'
    print('Saving inferences on ', save_path)
    with open(save_path, 'w') as f:
        f.write("<separator>".join(d))

Saving inferences on  C:/Users/GODZILLA/Desktop/Faculdade/TCC/text2sql_tcc/dev_easy.sql
Saving inferences on  C:/Users/GODZILLA/Desktop/Faculdade/TCC/text2sql_tcc/dev_medium.sql
Saving inferences on  C:/Users/GODZILLA/Desktop/Faculdade/TCC/text2sql_tcc/dev_hard.sql
Saving inferences on  C:/Users/GODZILLA/Desktop/Faculdade/TCC/text2sql_tcc/dev_extra.sql